# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Build folders
build/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# files
build_portable.bat
build_windows.bat
ET6Analyzer.spec
YKA_Calipri_to_PDF.spec